.card-container{

    display: grid;
    grid-template-columns: 3fr 2fr;
    margin-left: 50px;
   
}

.card{

    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 15px;
    margin: 25px;
    
   
}

.total{


 background-color: lightblue ;  
 margin-top: 10px;
 margin: 25px;
 border-radius: 20px;
 height: 15%;
 padding: 5px;
 border: 2px solid rgb(11, 186, 245);

}